.rightInfo {
    display: flex;
    flex-direction: row;
    margin-top: 29px;
    justify-content: space-between;

    .listItem {
        display: flex;
        flex-direction: column;

        .runparamsitem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 22px 0 13px;
            width: 206px;
            height: 36px;
            background: url("../../../assets/imgs/矩形 2661 拷贝 18.png")no-repeat;

            .statusname {
                overflow: hidden;
                color: var(--icon-color);
            }



            .statusname::before {
                content: "";
                position: relative;
                top: 2px;
                width: 14px;
                height: 14px;
                display: inline-block;
                background: radial-gradient(var(--icon-color) 0%, var(--icon-color) 50%, transparent 50%, transparent 100%) center/12px 12px no-repeat;
                background-color: var(--icon-color-b);
                border-radius: 14px;
                margin-right: 6px;
            }
        }
    }

    .errorinfolist {
        box-sizing: border-box;
        text-align: center;
        margin: auto;
        margin-top: 15px;
        width: 194px;
        height: 300px;
        overflow-y: auto;
        background: url("../../../assets/imgs/矩形 2661 拷贝 18(1).png");

        .errorInfo {
            line-height: 1.5;
            color: #C90378;
        }
    }

    .errorinfolist::-webkit-scrollbar-thumb {
        width: 1px;
    }

    .errorinfolist::-webkit-scrollbar-track {
        width: 1px;
    }

    .errorinfolist::-webkit-scrollbar-button {
        width: 1px;
    }

    .errorinfolist::-webkit-scrollbar {
        width: 1px;
    }
}

.green {
    --icon-color: var(--green);
    --icon-color-b: rgba(60, 255, 0, .5);
}

.blue {
    --icon-color: var(--blue);
    --icon-color-b: rgba(43, 204, 255, .5);
}