:root {
  --small-size: 12px;
  --default-size: 14px;
  --mid-size: 18px;
  --large-size: 20px;
  --blue: rgba(43, 204, 255, 1);
  --green: rgba(60, 255, 0, 1);
  --purple: rgba(201, 3, 120, 1);
  --drak-red: rgba(186, 0, 0, 1);
  --yellow: rgba(255, 252, 0, 1);
}

:root {
  font-size: var(--default-size);
  color: white;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}